# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Results (IMPORTANT for ML)
# =========================
results/
outputs/
*.csv
*.json
*.png

# (Se quiser manter só os gráficos depois, remova *.png daqui)

# =========================
# Model files
# =========================
*.pt
*.pth
*.ckpt

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
data
skills
docs